/* CSS Document */

body{
	background-color:coral;
}

h1{
	background-color:maroon;
	color:white;
	padding:10px;
	border-radius:20px;
}

h2{
	background-color:maroon;
	color:white;
	padding:10px;
	border-radius:20px;
}
h3{
	background-color:maroon;
	color:white;
	pading:10px;
	border-radius:20px;
}
